.color{
  float: left;
  background: #21DEEF;
  border-radius: 7px;
}
.color a{
  padding: 8px 20px;
  text-decoration: none;
  color: #21DEEF;
  font-size: 14px;
}
.color a:hover{
  text-decoration:none;
  background: #21DEEF;
}
.color a:focus {
  outline: none;
  background: #21DEEF;
}
.img-circle{
  border-radius: 50%;
}
